<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp - login</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/auth.js"></script>
</head>
<body>
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Login</div>
        <div class="login-form-1">
            <div id="login-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="lg_username" class="sr-only">user ID</label>
                            <input type="text" class="form-control" id="user_id" name="user_id" placeholder="user ID">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password">
                        </div>
<!--                        <div class="form-group login-group-checkbox">-->
<!--                            <input type="checkbox" id="lg_remember" name="lg_remember">-->
<!--                            <label for="lg_remember">remember</label>-->
<!--                        </div>-->
                    </div>
                    <button type="submit" class="login-button" onclick="postLoginInfo()"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>new user? <a href="{{ url_for('main.register') }}">create new account</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- cite https://bootsnipp.com/snippets/X04B0 -->