<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/chat.css">
</head>
<body>
    <div id="chat-app">
        <div id="side-bar-main">
            <div><img src="../../static/img/person.png" alt=""></div>
            <div><img src="../../static/img/message.png" alt=""></div>
            <div><img src="../../static/img/search_white.png" alt=""></div>
        </div>
        <div id="side-bar-sub">
            <div id="side-bar-title">Friend List</div>
            <div id="friend-list">
                <div id="friend1" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend2" class="friend">
                    <img class="friend-list-icon" src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend3" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>

                <div id="friend1" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend2" class="friend">
                    <img class="friend-list-icon" src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend3" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend1" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend2" class="friend">
                    <img class="friend-list-icon" src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend3" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend1" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history.</p>
                    </div>
                </div>
                <div id="friend2" class="friend">
                    <img class="friend-list-icon" src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend3" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend1" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend2" class="friend">
                    <img class="friend-list-icon" src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend3" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend1" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend2" class="friend">
                    <img class="friend-list-icon" src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend3" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend1" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend2" class="friend">
                    <img class="friend-list-icon" src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
                <div id="friend3" class="friend">
                    <img class="friend-list-icon"src="../../static/img/sample.jpg" alt="icon">
                    <div class="name-and-preview">
                        <div class="name-area">name1</div>
                        <p>here is chat history preview...here is chat history</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="room-name">room name</div>
            <div id="chat-history">
                <div id="history">
                    aaaaa
                    bbbb
                    ccc
                    dd
                    e
                </div>
            </div>
            <div id="editor">editor</div>
        </div>
    </div>

</body>
</html>