@media screen and (min-width: 481px){ 
    html {
        background: #efefef;
        height: 100vh;
    }
    body {
        height: 100%;
    }
    #chat-app{
        height: 100%;
        display: flex;
        margin: 60px;
        padding: 20px;
        background: white;
        border-radius: 30px;
    }
    #side-bar{
        width: 400px;
        border-right: solid lightgray 1px;
        padding-right: 10px;
    }
    #main{
        background-color: lightsalmon;
        width: 1000px;
        margin: 0px auto;
    }
    #search-area{
        height: 100px;
        background-color: lightslategray;
        border-radius: 30px;
    }
    #search-icon{
        width: 20px;
        height: 20px;
    }

    #friend-list{
        height: 800px;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar{
        width: 10px;
        display: none;
    }
        ::-webkit-scrollbar-track{
        background: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: inset 0 0 2px #777; 
    }
    ::-webkit-scrollbar-thumb{
        background: #ccc;
        border-radius: 10px;
        box-shadow: none;
    }
    .friend{
        display: flex;
        width: 340px;
        margin-bottom: 2px;
        padding: 10px 20px 10px 10px;
        border-bottom: solid lightgray 2px;
        border-radius: 100px;
    }
    .friend:hover{
        opacity: 0.8;
        cursor: pointer;
        background: lightgray;
        border-radius: 100px;
    }
    .name-and-preview{
        width: 100%;
        margin-left: 15px;
    }
    .name-area{
        padding-top: 10px;
        padding-bottom: 1px;
        font-weight: bold;
        font-size: 110%;
    }
    .name-and-preview p{
        margin: 0;
    }
    .friend-list-icon{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        padding: 10px;

    }

}

@media screen and (max-width: 480px){
    html{
        background-color: aquamarine;
    }
 }