<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/css/create_account.css">
    <script src="static/js/create_account.js"></script>
</head>
<body>
    <div id="create_account">
        <div id="create-account-title">Create ChatApp Account!</div>
        <div id="input-data">
            <div id="id-input" class="account-data">
                <div id="id-label" class="labelstyle">ID</div>
                <input id="id-str" type="text" name="name"></p>
            </div>
            <div id="displayname-input" class="account-data">
                <div id="displayname-label" class="labelstyle">Display name</div>
                <input id="displayname-str" type="text" name="name"></p>
            </div>
            <div id="password-input" class="account-data">
                <div id="password-label" class="labelstyle">Password</div>
                <input id="password-str" type="text" name="name"></p>
            </div>
            <div id="searchid-input" class="account-data">
                <div id="searchid-label" class="labelstyle">Search ID</div>
                <input id="searchid-str"type="text" name="name"></p>
            </div>
        </div>
        <button id="create-account-button" onclick="create_account_button_click()">Create account</button>
    </div>
</body>
</html>